<p id="notice"><%= notice %></p>


<div class="container user-profile-container">
</div>

<div class="container stream">

  <% @tweets.each do |tweet| %>

  <div class="container tweet-container">
    <div class="container tweet-header">
      <div class="container tweet-user-image-container">
        <%= image_tag(tweet.user.profile_pic, class: "image tweet-image")%>
      </div>
      <div class="header tweet-author">
        <h2> <%= tweet.user.name %></h2>
      </div>
    </div>
    <div class="container tweet-content">
      <%= tweet.content %>
    </div>
    <div class="container tweet-info">
      <%= tweet.created_at %>
    </div>
  </div>

  <% end %>

</div>

<div class="container new-tweet-container">
  <% if signed_in? %>
    <div class="container tweet-form">
      <%= link_to 'New Tweet', new_tweet_path %>
    </div>
  <% else %>
    <h2> Sign in to tweet. </h2>
  <% end %>
</div>
