<header>
  <div class="container header-container">
    <div class="container header-logo">
      <%= link_to "Tweeter", root_url %>
    </div>
    <div class="container header-navigation">

      <% if signed_in? %>

        <div class="container nav-item">
          <%= link_to "Profile", user_path(current_user) %>
        </div>

        <div class="container nav-item">
          <%= link_to "Log Out", logout_path, method: "delete" %>
        </div>

      <% else %>

      <div class="container nav-item">
        <%= link_to "Sign In", login_path %>
      </div>
      <div class="container nav-item">
        <%= link_to "Register", new_user_path %>
      </div>

      <% end %>

    </div>
  </div>
</header>
