<!DOCTYPE html>
<html>
  <head>
    <title>CypressTwitterTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "shared/header" %>

    <div class="container site-container">
      <div class="container notice-container">
        <div id="notice"><%= notice %></div>
      </div>
        <%= yield %>
    </div>

    <% console %>
  </body>
</html>
